<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />

    <script>  
      // Check the user's system preference or stored preference and set dark mode
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.add('dark'); // Force dark mode if no preference is set
      }
    </script>

  </head>
  <body class="dark:bg-zinc-800 dark:text-white">
    {% include "../components/navigation.njk" %}
    <main class="p-12 ">
      <h1 class="text-3xl mb-8">{{title}}</h1>
      {{ content | safe }}
    </main>
    <aside class="sidebar">
        {% include "layouts/sidebar.njk" %}
    </aside>
    <script src="/assets/main.js"></script>
  </body>
</html>
