---
title: About
layout: layouts/base.njk
permalink: /work/
eleventyNavigation:
  key: About
  order: 3
---

<div class="space-y-8">

  <div>
    <p>Our Vison:<p>
    <p>Infromation should be free and esay to understand.<p>
    <p>The projects we host don’t pay anything for consulting, coding, or hosting; we simply ask that they share our belief. Please support our developers, artists, and visionaries by donating. If you can’t afford to donate, you can still enjoy our information, which will always be free. We vow never to charge the everyday person for access to knowledge, as sharing information helps our society grow. However, if you are a company seeking assistance or access to our database, a fee will apply.<p>
    <p>This website is in pre-alpha, heres the link to google<p>

  <a href="https://google.com" class="inline-block uppercase rounded bg-blue-600 hover:bg-blue-700 px-4 py-2 text-white text-sm">Google</a>
</div>
